header{
    width: 100%;
    height: 50px;
    background-color: bisque;
}

/* header{
    width: 100%;
    height: 60px;
    background-color: aquamarine;
} */

nav ul{
    
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav li{
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     margin-top: 20px ;
     cursor: pointer;
}
nav li a{
    text-decoration: none;
    
}

nav ul li:hover{
    color: rgb(68, 5, 241);
    transition: 0.5s ease;
}

form #basic label{
    display: block;
    margin-top: 5px;
}

/* form .multi input{
    display: block;
    margin-top: 5px;
} */

table{
    border-collapse: collapse;
}
table td, th{
    border: 1px solid black;
    padding: 10px 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color: aquamarine; */
}

.container{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.user{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: aquamarine;
}

/* card section */

.card_section{
    display: flex;
    flex-wrap: wrap;
    /* background-color: chartreuse; */
    
}

.card_content{
    width: 400px;
    height: 500px;
    gap: 50px;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 10px auto;
    box-shadow: 5px 5px 5px grey;
}
.card_content img{
    width: 100%;
    height: 300px;
    /* padding-left: 10px; */
    border-radius: 10px;
}

.card_content p{
    text-align: center;
    color: rgba(0, 0, 0, 0.699);
    font-family: Arial, Helvetica, sans-serif;
}

.card_content button{
    background-color: aqua;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 20px;
}
.card_content button:hover{
    color: rgb(211, 3, 3);
    background-color: gainsboro;
}

.card_content:hover{
    background-color: aqua;
    transition: 1s ease;
    cursor: pointer;
}